<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cod3hn.dontforget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/clocks"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clocks"
        android:supportsRtl="true"
        android:theme="@style/Theme.DontForget" >
        <activity android:name=".crearTareas" >
        </activity>
        <activity android:name=".dashBoard" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>